# Getting Started with Python

Welcome to Python Basics. 


Instruction: Click on Run (Play icon) or press [Shift key] + [Enter key] together to execute the command.

In [0]:
print("Hello, Business Analytics with Python!")

In [0]:
# This is a comment

## Variables

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).   
Rules for Python variables:  
1. A variable name must start with a letter or the underscore character  
2. A variable name cannot start with a number  
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )  
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [0]:
# Creating Variables
x = 5
y = 'John and Jane Doe'
z = 9.792
print(x, y, z)
print(type(x), type(y), type(z))

In [0]:
# Casting / Changing variable type
x = float(5)
y = int("45")
z = int(9.785)
a = str(5)
print(x, y, z, a)
print(type(x), type(y), type(z), type(a))

In [0]:
# String operations

a = "Hello, World!"
print(a[1])

b = "Hello, World!"
print(b[2:5])  # indexing starts with 0

c = "   Hello, World!   " # string with head and tail whitespaces
print(c.strip())

a = "Hello, World!"
print('Length:', len(a))

a = "Hello, World!"
print(a.lower())

a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.replace("H", "J"))

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

## Python Operators

1. Arithmetic operators

In [0]:
x = 29
y = 6

In [0]:
# Addition
z = x + y
print(z)

In [0]:
# Substraction
z = x - y
print(z)

In [0]:
# Multiplication
z = x * y
print(z)

In [0]:
# Division
z = x / y
print(z)

In [0]:
# Modules
z = 10 % 3
print(z)

In [0]:
# Exponentiation
z = 4 ** 2
print(z)

2. Comparison Operators

In [0]:
4 == 4

In [0]:
8 != 9

In [0]:
4 > 3 and 7 < 9

In [0]:
3 > 4 and 7 < 9

In [0]:
3 > 4 or 7 < 9

## Python Conditions

In [0]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

## Lists and Dictionaries

In [0]:
thislist = ["apple", "banana", "cherry"]  # This is a list
print(len(thislist))  # Length of the list

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")   # Add an item to the end of the list
print(thislist)

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")   # Add an item to a specific location in the list
print(thislist)

In [0]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]   # Delete a selected item from the list
print(thislist)

In [0]:
# Sort a list
cars = ['Ford', 'BMW', 'Volvo']
cars = sorted(cars, reverse=False)
print(cars)

In [0]:
# Loop through a list
fruit = ["apple", "banana", "cherry"]
for x in fruit:
  print(x)

In [0]:
fruit = ["apple", "banana", "cherry"]

# Check if an element is in the list
if "apple" in fruit:
  print("Yes, 'apple' is in the fruit list")

In [0]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [0]:
x = thisdict["model"]
x

In [0]:
# Change the value of a dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

In [0]:
for key, value in thisdict.items():
  print(key, value)

In [0]:
# Adding an item to a dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

## Python Loops

In [0]:
for x in range(6):  # Range(): range(start, stop, step)
  print(x)

In [0]:
for x in range(2, 30, 3):
  print(x)

## Python Functions

For a detailed list of python builtin functions: [Visit this link](https://www.w3schools.com/python/python_ref_functions.asp)

In [0]:
def my_function():
  print("Hello from a function")

my_function()

In [0]:
def my_function(fname):
  print('Welcome' + fname)

my_function("Emil")

In [0]:
def my_function(country = "Australia"):
  print("I am from " + country)

my_function()
my_function("Sweden")

In [0]:
def my_function(x):
  return 5 * x

my_function(3)

### Lambda functions

A lambda function is a straightforward anonymous function. A lambda function can take any number of arguments, but can only have one expression.

In [0]:
# Take this function
def f(a):
  return a + 10
print(f(19))

In [0]:
# Above function is similar to following;
f = lambda a : a + 10
print(f(19))

In [0]:
# Following lambda function is similar to;
# def z(a, b):
#   return a+b

z = lambda a, b : a + b
print(z(3, 8))

## Importing Libraries

In [0]:
import numpy as np  # Import numpy library (as a given short name) / Here we import the entire library (called alias)
import pandas as pd

## Wrangling with Datasets

**Loading a dataset from a csv file**

Dataset:

1. You need to upload the boston dataset to Google Colab.
2. You should click on the '>' icon to the left (below the title bar), expand the left menu.
3. Select Files tab from the laft menu.
4. Click upload to upload the dataset - boston.csv.   

Note: You need to upload these datasets everytime you reconnect to the notebook.

In [0]:
boston_dataset = pd.read_csv('boston.csv')  # Load the dataset

In [0]:
print(boston_dataset.keys())  # We print the value of the boston_dataset to understand what it contains. print(boston_dataset.keys()) gives

In [0]:
df = boston_dataset

In [0]:
# Check for missing values
df.isnull().sum()

**Exercise**
1. Read the first 10, 20, 50 records
2. View the last 5 records (Hint: Google search for "pandas read last n rows")

In [0]:
# Check for data types
df.dtypes

General data types in Pandas  


*   object (string)
*   int64 (int)
*   float64 (float)

**Pandas dataframe attibutes (df.attribute)  **  

*   dtypes	- list the types of the columns
*   columns		- list the column names
*   axes	- 	list the row labels and column names
*   ndim	- 	number of dimensions
*   size		- number of elements 
*   shape		- return a tuple representing the dimensionality 
*   values	- 	numpy representation of the data

**Exercise**

1. Find how many records are in this data frame?
2. How many columns?     
3. What are the column names?
4. What types of columns are in this data frame?

**Dataframe methods (df.method())**

*   head( [n] ), tail( [n] ) - first/last n rows
*   describe() - 	generate descriptive statistics (for numeric columns only)
*   max(), min()	 - return max/min values for all numeric columns
*   mean(), median() - 	return mean/median values for all numeric columns
*   std() - 	standard deviation
*   sample([n])	 - returns a random sample of the data frame
*   dropna() - 	drop all the records with missing values

**Exercise**

1. Provide a  summary of the numeric columns in the dataset
2. Calculate standard deviation for all numeric columns;
3. What are the mean values of the first 50 records in the dataset?   (Hint: use head() method to subset the first 50 records and then calculate the mean)

In [0]:
# Selecting a column in a dataframe
df['CRIM']

**Exercise**

1. Calculate the basic statistics for the salary column
2. Find how many values in the salary column (use count method)
3. Calculate the average salary

**Wrangling with a dataset**

Dataset:

1. You need to upload the titanic train and test datasets to Google Colab.
2. You should click on the '>' icon to the left (below the title bar), expand the left menu.
3. Select Files tab from the laft menu.
4. Click upload to upload the 2 datasets. Titanic_train and Titanic_test.   

Note: You need to upload these datasets everytime you reconnect to the notebook.

In [0]:
df = pd.read_csv('titanic_train.csv')

In [0]:
df.head()

## Advance exploration with Pandas Dataframes

**groupby method**

 Using "group by" method we can:
*  Split the data into groups based on some criteria
*  Calculate statistics (or apply a function) to each group
*  Similar to dplyr() function in R

In [0]:
#Group data using sex
df_sex = df.groupby(['Sex'])
df_sex.mean()

In [0]:
#Calculate mean age and mean fare for each passenger based on sex:
df.groupby(['Sex'])[['Age', 'Fare']].mean()

**Filter dataframe**

In [0]:
# Filter only the passengers above 20 years old.
df_sub = df[ df['Age'] > 20 ]
df_sub.head()

In [0]:
# Filter only the female passengers.
df_sub = df[ df['Sex'] == 'female' ]
df_sub.head()

In [0]:
# Filter only the female passengers who are above 30 yrs.
df_sub = df[(df['Sex'] == 'female') & (df['Age'] > 30)]  # Boolean operators '&' for AND, '|' for OR
df_sub.head()

**Dataframe Slicing and Indexing**

In [0]:
#Select column salary:
df['Age']

In [0]:
# Create a new dataframe with only 2 columns
df[['Age','Fare']]

In [0]:
# Select only 10th to 20th rows
df[10:20]

In [0]:
# select a range of rows, using their labels we can use method loc method
df.loc[10:20, ['Age','Fare']]

In [0]:
# select a range of rows and/or columns, using their positions we can use method iloc
df.iloc[10:20, [0, 2, 4]]

**Exercise**

*  df.iloc[0]  # First row of a data frame
*  df.iloc[-1] # Last row 
*  df.iloc[:, 0]  # First column
*  df.iloc[:, -1] # Last column 
*  df.iloc[0:7]       #First 7 rows 
*  df.iloc[:, 0:2]    #First 2 columns
*  df.iloc[1:3, 0:2]  #Second through third rows and first 2 columns
*  df.iloc[[0,5], [1,3]]  #1st and 6th rows and 2nd and 4th columns

**Sorting**

In [0]:
# Create a new data frame from the original sorted by the column Age
df_sorted = df.sort_values( by ='Age')
df_sorted.head()

In [0]:
df_sorted = df.sort_values( by =['Age', 'Fare'], ascending = [False, True])
df_sorted.head(5)

## Handling missing values

df.method()

*  dropna() - Drop missing observations
*  dropna(how='all')- 	Drop observations where all cells is NA
*  dropna(axis=1, how='all')- 	Drop column if all the values are missing
*  dropna(thresh = 5)- 	Drop rows that contain less than 5 non-missing values
*  fillna(0)	- Replace missing values with zeros
*  isnull()	- returns True if the value is missing
*  notnull()	- Returns True for non-missing values

In [0]:
# Select the rows that have at least one missing value
df[df.isnull().any(axis=1)].head()

**Aggregation Functions in Pandas**  
agg() method are useful when multiple statistics are computed per column

In [0]:
df[['Age','Fare']].agg(['min','mean','max'])

**Basic Descriptive Statistics**  

*  describe -	Basic statistics (count, mean, std, min, quantiles, max)
*  min, max -		Minimum and maximum values
*  mean, median, mode -		Arithmetic average, median and mode
*  var, std -		Variance and standard deviation
*  sem	 -	Standard error of mean
*  skew	 -	Sample skewness
*  kurt -		kurtosis

## Visualization and plotting

In [0]:
import matplotlib.pyplot as plt 
import seaborn as sns

In [0]:
# Reuse the boston dataset loaded previously
boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
boston['MEDV'] = boston_dataset.target
boston.head()

In [0]:
# Let’s first plot the distribution of the target variable MEDV. We will use the distplot function from the seaborn library.
sns.distplot(boston['MEDV'], bins=30)  #Histogram of MEDV by binning to 30 bins
plt.show()

In [0]:
# Create box plots
boston.boxplot()

In [0]:
# create a correlation matrix that measures the linear relationships between the variables. 
# The correlation matrix can be formed by using the corr function from the pandas dataframe library. 
# We will use the heatmap function from the seaborn library to plot the correlation matrix.
correlation_matrix = boston.corr().round(2)
sns.heatmap(data=correlation_matrix, annot=True)
plt.show()

Observations:
*  To fit a linear regression model, we select those features which have a high correlation with our target variable MEDV. By looking at the correlation matrix we can see that RM has a strong positive correlation with MEDV (0.7) where as LSTAT has a high negative correlation with MEDV(-0.74).
*  An important point in selecting features for a linear regression model is to check for multi-co-linearity. The features RAD, TAX have a correlation of 0.91. These feature pairs are strongly correlated to each other. We should not select both these features together for training the model. Same goes for the features DIS and AGE which have a correlation of -0.75.

In [0]:
# Based on the above observations we will RM and LSTAT as our features. Using a scatter plot let’s see how these features vary with MEDV.
features = ['LSTAT', 'RM']
target = boston['MEDV']

for i, col in enumerate(features):
    plt.subplot(1, len(features) , i+1)
    x = boston[col]
    y = target
    plt.scatter(x, y, marker='o')
    plt.title(col)
    plt.xlabel(col)
    plt.ylabel('MEDV')

plt.show()